<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="../../../lib/phpunit/phpunit.xsd"
    bootstrap="../../../lib/phpunit/bootstrap.php"
    colors="true"
>
    <testsuites>
        <testsuite name="local_espace_testsuite">
            <directory suffix="_test.php">.</directory>
        </testsuite>
    </testsuites>
</phpunit>
